<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

Top places:

<mat-list>
    <mat-list-item *ngFor="let place of topPlaces | slice:0:2; let idx = index">
      <mat-icon *ngIf="idx === 0" matListIcon>sentiment_very_satisfied</mat-icon>
      <mat-icon *ngIf="idx !== 0" matListIcon>sentiment_satisfied</mat-icon>
      <h3 matLine> {{ place.name }} </h3>
    </mat-list-item>
  </mat-list>
