<mat-card *ngIf="place">

  <mat-card-title *ngIf="place.id; else createPlaceTitle" [innerHTML]="place.name | wikilink">{{place.name | uppercase}} Details</mat-card-title>
  <ng-template #createPlaceTitle>Create a new place</ng-template>

  <mat-card-content>
    <mat-form-field [appHighlight]="'orange'" class="full-width">
      <input matInput [(ngModel)]="place.name" placeholder="name">
    </mat-form-field>

    <mat-form-field [appHighlight]="'yellow'" class="full-width">
      <input matInput
        type="number"
        (change)="changeEvent(place.visits)"
        [(ngModel)]="place.visits"
        placeholder="visits">
    </mat-form-field>

    <app-image-loader [query]="place.name"></app-image-loader>
  </mat-card-content>


  <mat-card-actions align="end">
    <button mat-icon-button color="accent" aria-label="Save the place" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button *ngIf="place.id" mat-icon-button color="accent" aria-label="Delete the place" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Close the place" routerLink="/places">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>
