
<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile >
    <h2>My Places</h2>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <button mat-icon-button color="accent" aria-label="Add a new place" routerLink="/places/create">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile rowspan="5">
    <mat-list class="places">
      <mat-list-item *ngFor="let place of places"
          [routerLink]="'/places/' + place.id"
          [class.selected]="place === selectedPlace" >
        <a mat-raised-button color="primary" >{{place.id}} - {{place.name}}</a>
      </mat-list-item>
    </mat-list>
    <mat-spinner *ngIf="!places"></mat-spinner>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="5">
    <router-outlet></router-outlet>
  </mat-grid-tile>

</mat-grid-list>
