<mat-toolbar color="primary">
  <mat-toolbar-row>
    {{ title }} - An application to find and explore sites worth visiting around the world!
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a mat-button routerLink="/welcome">Home</a>
    |
    <a mat-button routerLink="/places">Places</a>
    |
    {{ total }} place visits
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
